* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("assests/images/Sign\ In\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}

.forms {
    border-radius: 10px;
    background-color: #F6EDDD;
}

h1,
p {
    text-align: center;
}

.btns {
    background-color: #ffaf4f;
    color: #F6EDDD;
    border-radius: 10px;
}

.btns:hover {
    background-color: #ed733f;
    color: #F6EDDD;
}

.signs {
    float: right;
    color: red;
}