* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
    background-color: #ffaf4f !important;
}

.body-head {
    background-color: #ed733f;
    /* padding: 20px; */
}

.navsbar {
    background-color: #ed733f;
    margin-right: -15px;
    margin-left: -15px;
}

.btns {
    background-color: #ffaf4f !important;
    color: #fff !important;
}

.btns:hover {
    background-color: #ed733f !important;
    color: #fff !important;
}

.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.nav-link,
.navbar-brand {
    color: #fff;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #ffaf4f;
}

.body-2,
.body-3 {
    margin-top: 20px;
}

h3,
h5 {
    color: #ffaf4f;
    padding: 10px 0 10px 0;
}

p {
    padding: 20px;
    color: #14120f;
    line-height: 20px;
}

h4 {
    color: #ffaf4f;
    text-align: center;
    margin-top: 20px;
}

.body-4 {
    background-color: #ffaf4f;
    color: #fff;
    font-size: 1rem;
    /* line-height: 66px; */
}

.people {
    /* border: #fff 1px solid; */
    background-color: #ffaf4f;
}

.newsletter {
    margin: auto;
    width: 40%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

input {
    padding: 3px;
}

.footer {
    background-color: #ed733f;
}

ul li,
.foot {
    /* display: inline-flex; */
    padding: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    list-style: none;
    /* white-space: nowrap; */
}

h5,
.foot-heading {
    color: #fff;
    /* padding: 20px; */
    text-align: left;
    margin-left: -10px;
}

.foot-add {
    color: #fff;
    font-size: 1rem;
}

.icon {
    display: inline;
    color: #fff;
    /* padding: 2rem; */
}

h1,
.nav-p,
.icons {
    /* margin-top: 8rem; */
    color: #fff;
}

.icons {
    white-space: nowrap;
}

.img-icon {
    border-radius: 50%;
    float: left;
    padding: 7px;
}

.people p {
    color: #fff;
}

.people-mid p {
    color: #ffaf4f;
}

.mid-img {
    border-radius: 15px;
}

.navs-float {
    float: right;
}


/* .Vector {
    position: absolute;
    width: 388px;
    height: 299px;
    top: -50px;
    left: 900px;
} */

.vector {
    width: 200px;
    height: 100px;
}

@media screen and ( max-width:575px) {
    .newsletter {
        width: 100%;
    }
    /* .Vector {
        position: absolute;
        width: 38px;
        height: 29px;
        top: -50px;
        left: 900px;
    } */
}

@media screen and (min-width: 600px) {
    .navbar-expand-md .navbar-collapse {
        display: block !important;
    }
}